%font-slabo {
    font-family: "Slabo 27px", Helvetica, sans-serif;
}

%font-merri {
    font-family: 'Merriweather Sans', Arial, sans-serif;
}

%font-bio {
    font-family: 'BioRhyme Expanded', Arial, sans-serif;
}