$breakpoints: (
    "small-phone":  430px,
    "phone":        768px,
    "large-phone":    948px,
    "tablet":       1024px,
    "large-tablet":       1291px,
    "small-monitor":     1440px,
    "large-monitor":    1700px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

%overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

%font-slabo {
    font-family: "Slabo 27px", Helvetica, sans-serif;
    font-size: 27px;
    text-align: left;
    letter-spacing: 0.13em;
}

%font-merri {
    font-family: 'Merriweather Sans', Arial, sans-serif;
    font-weight: 400;
}


$x-swatch-darkgrey: #282c34;
$x-swatch-lightgrey: #a9a9a9;
$x-swatch-darkblue: #001746;
$x-swatch-lightblue: #f3f7f9;

// $x-swatch-midblue: #648A9D;
$x-swatch-midblue: #75a0b5;

$palette-background-dark: $x-swatch-darkgrey;
$palette-background-blue: $x-swatch-midblue;
$palette-background-light: $x-swatch-lightblue;

$palette-text-dark: $x-swatch-darkgrey;
$palette-text-light: $x-swatch-lightblue;
$palette-text-blue: #385b6d;

$palette-lab-yellow: #ce8e15;

$palette-secondary: $x-swatch-lightgrey;